{include file='header.tpl'}
<div>
	<a href="{router page='k2import'}users">Users</a><br>
	<a href="{router page='k2import'}categories">Categories</a><br>
	<a href="{router page='k2import'}posts">Posts</a><br>
</div>